    <nav class="navbar is-black">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            My Tasks
          </a>
          <div class="navbar-burger burger" data-target="navMenuColorblack-example">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </nav>
       